.about-body {}

.about__container {}

.about-body__title {
    color: #007bff;
    // font-size: 40px;
    @include adaptiveValue("font-size", 40, 26);
    font-weight: 900;
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
}

.about-body__block {
    display: flex;
    overflow: hidden;
}

.about-block__img {
    flex: 0 1 50%;
    & img {
        // width: 540px;
        @include adaptiveValue("width", 540, 300);
        margin-bottom: 30px;
        padding: 0 15px;
                // display: flex;
                //     align-items: center;
                //     justify-content: center;
    }
    
}

.about-block__text {
    flex: 0 1 50%;
    padding: 0 40px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

.about-block__title {
    color: #000;
    // font-size: 1.75rem;
    @include adaptiveValue("font-size", 26, 20);
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.about-block__p {
    width: 80%;
    margin-bottom: 1rem;
    line-height: 1.7;
    color: gray;
    font-weight: 400;
    // font-size: 1rem;
    @include adaptiveValue("font-size", 16, 12);
}
.about-block__ul {
    margin-bottom: 50px;
    list-style: none;
    line-height: 1.7;
    color: gray;
    font-weight: 400;
    font-size: 1rem;
    & li {
            // margin-bottom: 8px;
            line-height: 1.2;
            @include adaptiveValue("font-size", 14, 12);
        & svg {
            padding-top: 3px;
            width: 32px;
            height: 32px;
            fill: #71bc42;
            vertical-align: middle;
        }
    }
}
@media (max-width: 820px) {
    .about-body__block {
        flex-direction: column;
    }
    .about-block__img img {
        width: 100%;
        padding: 0 15px;
    }
    .about-block__title {
        padding: 0;
        width: 100%;
    }
    .about-block__p {
        width: 100%;
    }
    .about-block__text {
        padding: 0 15px;
    }
}

.about-block__button {}

.mainButton {}