.main-title {
    font-family: "Work Sans";
    font-size: 3rem;
    @include adaptiveValue("font-size", 50, 30);
    font-weight: 400;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    width: 50%;
    text-align: center;
    margin-bottom: 3rem !important;
    z-index: 1;
    & h1 {
        line-height: 1.2;
        color: #fff !important;
        // animation: block-in-bottom .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s;
        // animation-delay: .3s;
    }
}

.maindiv {
    background-image: url('../img/bg.webp');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-position: center center;
    position: relative;
    min-height: 600px;
    height: calc(100vh);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.4);
    }
    &-button {
        background: #007bff;
        border-color: #007bff;
        color: #fff;
        font-size: 16px;
        border-radius: 30px;
        padding: 10px 30px ;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        line-height: 1.5;
        vertical-align: middle;
        // user-select: none;
        z-index: 1;
        &:hover {
            background: #000;
            border-color: #000;
            // transform: background;
            transition: background 0.1s ease 0.1s;
        }
    }
}
.maindiv img {
    min-height: 600px;
    height: calc(100vh);
    width: 100%;

}
._anim-show {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.4s;
}

._anim-show._activetextmain,
._activetextmain ._anim-show {
    opacity: 1;
    transform: translate(0px, 0px);
}