.pricing {
    background-color: #f8f9fa;
}

.pricing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-title {
    color: #007bff;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 4rem;
    padding-top: 50px;
    margin-bottom: 1rem;
}

.pricing-body {
    margin-bottom: 3rem;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pricing-block {
    flex: 0 0 330px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    padding: 30px;
}

.pricing-block__title {
    color: #000;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.pricing-block__price {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    margin-bottom: 1.5rem;
    & span {
        font-size: 3rem;
        color: #007bff;
    }
    & p {
        color: #cccccc;
        padding-bottom: 3px;
    }
}

.pricing-block__list li {
    display: flex;
    margin-bottom: 20px;
    margin-bottom: 15px;
    line-height: 1.5;
    text-decoration: line-through;
    color: #dee2e6;
    color: gray;
}

.icon-check {
    color: #71bc42;
    width: 30px;
    &::before {
        font-weight: 700;
        vertical-align: middle;
    }
}

.pricing-block__button {}